@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
* {
  font-family: "Varela Round", sans-serif;
  font-weight: bold;
  outline: none;
}

a {
  color: $red;
}

.repo {
  bottom: 100;
}

#header {
  color: $red;
}

#header:hover {
  color: $darkRed;
}