select {
  -webkit-appearance: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1 px solid hsl(0, 0%, 95%);
  border-radius: 3px;
  padding: 5px 10px;
  color: #000;
  outline: none;
  width: 25%;
  border-color: transparent transparent #fff transparent;
  transition: all 0.3s ease-in-out;
  background: url(/src/assets/down.svg) no-repeat right #fff;
  box-shadow: 0 0 20px $shadow;
}

select:hover {
  background: $red url(/src/assets/downWhite.svg) no-repeat right;
  background-color: hsl(0, 94%, 65%);
  color: #fff;
}
